@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap'); */

/* General styles

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: auto;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

/* Selection style
::selection,
::-moz-selection {
  background: rgba(0, 79, 73, 0.8);
  color: #fff;
}

/* Table styles
.tableWrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

table {
  border-collapse: collapse;
  font-size: 1em;
  text-align: left;
  width: 100%;
}

table thead tr {
  position: sticky;
  top: 0;
  background-color: white;
  color: black;
  font-weight: bold;
  text-align: left;
  width: 100%;
  box-shadow: inset 0 -1.5px 0 #000000;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody {
  height: 2rem;
  overflow-y: scroll;
}

table tbody tr:nth-of-type(even) {
  background-color: #fbfbfb;
}

table tbody tr:nth-of-type(odd) {
  background-color: #f6f6f6;
}

table.ranked tbody tr:first-child {
  background-color: #d7b446;
}

table.ranked tbody tr:nth-child(2) {
  background-color: #e1e0e0;
}

table.ranked tbody tr:nth-child(3) {
  background-color: #e0ac78;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #004f49;
}

.deleteButton {
  background-color: transparent;
  border: none;
  color: #ff1b1b;
  cursor: pointer;
  font-size: 1rem;
}

.editButton {
  background-color: transparent;
  border: none;
  color: #004f49;
  cursor: pointer;
  font-size: 1rem;
}

/* Form styles

.form {
  display: inline-block;
  font-size: 13px;
  background: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 20px 25px 25px;
  margin: auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0 0 16px;
  -moz-box-shadow: rgba(17, 17, 26, 0.1) 0 0 16px;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0 0 16px;
  max-width: calc(100% - 50px - 30px);
}

#itemsTable {
  height: calc(666px - 45px);
  max-width: calc(100vw - 366.7px - 60px - 50px);
}

.table-form {
  width: 100%;
  height: calc(100vh - 34px - 52.39px - 50px);
  margin-top: 0;
  box-shadow: none;
  border-radius: 0;
}

.form-vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.form-vertical-container .form {
  width: calc(100% - 50px);
  margin-bottom: 30px;
}

.form-vertical-container .form:last-child {
  margin-bottom: 0;
}

.form-horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.form-horizontal-container .form {
  margin-top: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.form-horizontal-container .form table {
  min-width: 50vw;
  min-height: unset;
}

.form-horizontal-container .form-vertical-container {
  margin-left: 15px;
  margin-right: 15px;
}

.form-horizontal-container .form-vertical-container:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
  body {
    overflow-y: scroll;
  }
  .form {
    padding: 10px 15px 15px;
    max-width: calc(100% - 30px);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
  .table-form {
    height: 100%;
  }
  .form-horizontal-container {
    flex-direction: column;
    justify-content: center;
  }
  .form-horizontal-container .form {
    margin-top: unset;
    margin-left: 0;
    margin-right: 0;
    width: calc(100% - 30px);
  }
  .form-horizontal-container .form-vertical-container {
    margin-left: 0;
    margin-right: 0;
  }
  #itemsTable {
    height: 100%;
    width: calc(100% - 30px);
    max-width: calc(100vw - 30px);
  }
  .form-vertical-container .form:last-child {
    margin-bottom: 30px;
  }
}

.formHeading {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: left;
}

.form label {
  margin: 0 0 15px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.form label > span {
  font-weight: 600;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}
.form span.required {
  color: red;
}
.form hr {
  border: none;
  background-color: black;
  margin: 25px;
  height: 1px;
}
.form .tel-number-field {
  width: 40px;
  text-align: center;
}
.form input.input-field,
.form .select-field {
  width: 60%;
}
.form input.input-field,
.form .tel-number-field,
.form .textarea-field,
.form .select-field,
.createSaleQuantity {
  font-size: 14px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  -moz-box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #ebebeb;
  background-color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 7px;
  outline: none;
}
.createSaleQuantity {
  text-align: center;
  width: 60px;
}

.form .input-field:focus,
.form .tel-number-field:focus,
.form .textarea-field:focus,
.form .select-field:focus,
.createSaleQuantity:focus {
  border: 1px solid #006761;
}
.form .input-field:read-only,
.form .tel-number-field:read-only,
.form .textarea-field:read-only,
.createSaleQuantity:read-only {
  border: 1px dashed #579b98;
  background: #eef6f4;
}
.form .textarea-field {
  height: 100px;
  width: 55%;
}
.form input[type='submit'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #004f49;
  padding: 8px 15px 8px 15px;
  background: #004f49;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.form input[type='button'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #004f49;
  padding: 8px 15px 8px 15px;
  background: white;
  color: #004f49;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.form input[type='submit']:hover {
  background: #013834;
  color: #fff;
}
.form input[type='button']:hover {
  background: #004f49;
  color: #fff;
}
/* style for disabled buttons
.form input[type='submit']:disabled,
.form input[type='button']:disabled {
  border: 1px solid #91b9b1;
  background: #91b9b1;
  cursor: default;
  color: #fff;
}
.form .back {
  display: block;
  margin-top: 5px;
  padding: 8px 15px 8px 15px;
  color: red;
}
.form #download-csv {
  display: block;
  margin-top: 5px;
  padding: 8px 15px 8px 15px;
  color: #004f49;
} */
