.newNumber {
  font-size: 5rem;
  letter-spacing: 10px;
  margin: 10px 10px 10px 20px;
}

.inputNumber {
  font-size: 5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  -moz-box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #ebebeb;
  background-color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 7px;
  outline: none;
  text-align: center;
  letter-spacing: 10px;
  width: 300px;
  margin-bottom: 15px;
}

.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputNumber[type='number'] {
  -moz-appearance: textfield;
}
