.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.textContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.link {
  color: #004f49;
  font-size: 1.1rem;
}
